.left-side {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  gap: 2rem;
  padding: 0.5rem; 
  text-align: center;
  width: 50%;
  color: #575756;
  box-sizing: border-box;
}

.left-side h1 {
  font-size: clamp(1rem, 7vw, 4rem); 
  width: 100%;
  max-width: 70rem; 
  margin: 0;
}

.left-side p {
  font-size: clamp(1rem, 2vw, 2rem); 
  font-weight: 600;
  width: 100%;
  max-width: 50rem;
  padding: 0 0.5rem;
}

.left-side img {
  width: 100%;
  max-width:500px;
  height: auto;
  object-fit: contain;
}
